<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>parfumerie good flower</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <img src="assets/icon/Untitled design.jpg" width="70px"  height = "70px" class="img" />
  <h1>Good flower</h1>
  <ion-text >Discover your new perfumes</ion-text>
  <div class="btn">
  <ion-button fill="solid" >Login</ion-button>
  <ion-button fill="solid"tab="tab1" href="/tabs/tab1">Try out</ion-button>
</div>
</ion-content>
