ion-content {
  --background:#fff;
    
  }
  ion-toolbar{
    --background: #fcfcfc;
    color: #000;
  }
  .tout{
    margin: -11px;
    padding: 0;
    
  }
  

.backgrnd{
  width: 100%;
}

.backgrnd img{
  width: 100%;
  height: auto;
}

.button {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  margin-top: -19px;
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;

}

.button:before {
  border: 4px solid #010101;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button:after {
  border: 4px solid #8a8a8a;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.button:hover:before,
.button:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button:hover:after,
.button:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  fill: #0b0a0b;
}

.button-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: #0b0a0b;

  
}

.button:hover .button-box,
.button:focus .button-box {
  transition: 0.4s;
  transform: translateX(-56px);
}

 .return{
  position: absolute;
  left: 0;
 }

 .title{
  text-align: center;
  font-weight: bold;
 }
.img{
  img{
    display: flex; justify-content: center; align-items: center;width: 100%;height: auto;
  }
  ion-card-content{
    text-align: center;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    color: #000;
    height: auto;
  //   padding: 15px;
  }
}

.text {
  background: #000;
  color: #fff;
  text-align: center;
  border-top-right-radius: 100px 100px;
  border-top-left-radius: 100px 100px;
  height: 120px;
}

.text p {
  font-size: 20px;
  padding: 1%; /* Add padding */
}

.text h3 {
  font-size: 30px;
}
/* Add additional circular button styles as needed */

.parghpe{
  text-align: center;
  color: #000;
  h5{
    font-weight: bold;
  }
 
}
// swiper-container{
//   display: flex ;
//   justify-content: center;

// }
swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust the height as per your requirement */
}

  .swiper{
    width: 100%;
    display: flex ;
    justify-content: center ;
    overflow: hidden;
  }
  swiper-container{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
  }
  


  swiper-slide{
    display: block;
    right: 0;
    left: 0;
    justify-content: center ;
    align-items: center;
    text-align: center;
    p{color: #000;
    font-weight: bold;
    padding: 11px;
   text-transform: capitalize;
  }
  
  }
  .row{
  
    display: flex ;
    justify-content: center ;
}

  swiper-container{
    display: flex ;
    justify-content: center ;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 600px;
  }
  .container{
    align-items: center;
  }
  .circular-button-container {
    display: flex;
    justify-content: center;
  }
  .circular-button {
    width: 50px; /* Adjust the width and height as needed to make the button circular */
    height: 50px;
    border-radius: 50%; 
 
    color: #ffffff; /* Set the text color */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.2); /* Add a shadow for a raised effect */
    border: none; /* Remove any border */
    // cursor: pointer; /* Change the cursor to a pointer on hover */
    transition: background-color 0.3s ease; /* Add transition effect for background color change */
    margin: auto;
  }
  
  