
<ion-header>
  <ion-toolbar>
    <ion-title>Découvrez les parfums</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="partie-une">
    <div class="Rechercher">
      <div class="Rechercher">
        <ion-searchbar placeholder="Recherche" [debounce]="1000" (ionInput)="handleInput($event); showItems()"></ion-searchbar>
      <div *ngIf="showResults" >
        <ion-item lines="none" *ngFor="let product of products">
          <ion-avatar slot="start" (click)="clickCard(product.id)">
            <img src="{{product.image}}">
          </ion-avatar>
          <ion-label>{{product.name}}</ion-label>
        </ion-item>
      </div>
      </div>
    </div>
    <div class="text-btn">
      <div class="text">
        <ion-text>
          <h5>Explorer par parfums</h5>
        </ion-text>
      </div>
      <button class="button"  routerLink="/tabs/tab2">
        Voir plus
        <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
          <path clip-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z" fill-rule="evenodd"></path>
        </svg>
      </button>
     
      </div>
      <div class="row">
        <div class="spinner-container" *ngIf="showSpinner">
          <ion-spinner name="circles" style="color: black;"></ion-spinner>
        </div>
        <swiper-container slides-per-view="2" speed="500" loop="false" css-mode="true" *ngIf="!showSpinner && products">
          <swiper-slide *ngFor="let product of products">
            <ion-card (click)="clickCard(product.id)">
              <ion-img [src]="product.image"></ion-img>
              <ion-card-content>
                <p style="font-weight: 600;">{{product.name}}</p>
              </ion-card-content>
            </ion-card> 
          </swiper-slide>
        </swiper-container>
      </div>
      
      
      
  </div>
  <div class="partie-deux">
    <div  class="text-btn">
    <div class="text">
        <ion-text >
          <h5 >Explorer par marques</h5>
        </ion-text>
    </div>
    <button class="button"  routerLink="/tabs/tab3">
      Voir plus
      <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
        <path clip-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z" fill-rule="evenodd"></path>
      </svg>
    </button>

</div>

  <div class="brands">
    <div class="spinner-container" *ngIf="showSpinner">
      <ion-spinner name="circles" style="color: black;"></ion-spinner>
    </div>
  <swiper-container slides-per-view="3" speed="500" loop="false" css-mode="true" *ngIf="!showSpinner && brands">
    <swiper-slide *ngFor="let brand of brands" >
      <div class="card-brand">
         <ion-card (click)="click(brand.nom)" style="cursor: pointer;"  >
            <img  src="{{brand.brand}}" />
          </ion-card>
      </div>
   </swiper-slide>
  </swiper-container>
  </div>
</div>
<div class="partie-trois">
<div class="text-btn">
<div class="text">
  <ion-text >
    <h5>
      Explorer par notes
    </h5>
  </ion-text>
</div>
<button class="button"  routerLink="/tabs/tab1/all-notes">
  Voir plus
  <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
    <path clip-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z" fill-rule="evenodd"></path>
  </svg>
</button>

</div>
  <div class="notes">
    <div class="spinner-container" *ngIf="showSpinner">
      <ion-spinner name="circles" style="color: black;"></ion-spinner>
    </div>
    <swiper-container slides-per-view="3" speed="500" loop="true" css-mode="true" *ngIf="!showSpinner && notes">
      <swiper-slide *ngFor="let note of notes"> 
        <ion-card  (click)="clicknote(note.name)" style="cursor: pointer;" >
        <img alt="{{note.name}}" src="{{note.img}}" />
      </ion-card>
    </swiper-slide> 
    </swiper-container>
  </div>
</div>
</ion-content>


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
